
{% load static %} 

<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content= 
		"width=device-width, initial-scale=1.0"> 
	<title>SmartSchools</title> 
    <script src="https://cdn.tailwindcss.com"></script>
	

	
	<!--<link rel="stylesheet"
		href="{% static 'src/output.css' %}"> -->
	

</head> 

<body class="bg-gray-200"> 

	<nav class="w-full h-24 fixed bg-cyan-600 top-0 flex flex-row justify-center items-center text-white">
		<div class='w-5/6 flex justify-center md:inline md:w-2/6'>
			<a href="{% url 'index' %}"><h1 class='text-4xl md:text-3xl lg:text-4xl tracking-wider cursor-pointer'>SmartSchools</h1></a>
		</div>
		<div class='md:w-4/6 -ml-8 hidden lg:flex flex-row justify-center items-center text-lg'>
			<a href="{% url 'index' %}"><p class='cursor-pointer pl-8'>Home</p></a>
			<p class='cursor-pointer pl-8'>Community</p>
			<p class='cursor-pointer pl-8'>Explore</p>
			<p class='cursor-pointer pl-8'>About</p>
			{% if user.is_authenticated == False %}
				<a href="{% url 'get-started' %}"><p class='cursor-pointer pl-8'>Get started</p></a>
				<a href="{% url 'login' %}"><p class='cursor-pointer pl-8'>Login</p></a>	
			{% else %}		
				<a href="{% url 'logout' %}"><p class='cursor-pointer pl-8'>Logout</p></a>
			{% endif %}
		</div>
		<svg class="w-6 h-6 lg:hidden cursor-pointer text-black" id="open" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14" id='togglebutton'>
			<path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M1 1h15M1 7h15M1 13h15"/>
		</svg>
	</nav>
	<div class='h-full left-0 top-0 w-0 bg-white fixed lg:hidden overflow-hidden flex items-center justify-center' id="navbar">
		<div class='text-2xl'>
			<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" id="close" class="-mt-12 cursor-pointer" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg>
			<a href="{% url 'index' %}"><p class='mt-8 cursor-pointer'>Home</p></a>
			<p class='mt-8 cursor-pointer'>Community</p>
			<p class='mt-8 cursor-pointer'>Explore</p>
			<p class='mt-8 cursor-pointer'>About</p>
			{% if user.is_authenticated == False %}
				<a href="{% url 'get-started' %}"><p class='mt-8 cursor-pointer hover:text-cyan-800'>Get started</p></a>
				<a href="{% url 'login' %}"><p class='mt-8 cursor-pointer hover:text-cyan-800'>Login</p></a>
			{% else %}
				<a href="{% url 'logout' %}"><p class='mt-8 cursor-pointer hover:text-cyan-800'>Logout</p></a>
			{% endif %}
		</div>
	</div>
	

	<div class="mt-32 ml-6 mr-6 h-full">
		{% block content %}

		{% endblock content %} 
	</div>
	<script>
		var nav = document.getElementById("navbar");
		var opene = document.getElementById("open");
		var closing = document.getElementById("close");

		

		function opennav(){
			nav.style.width = "100%";
		}

		function closenav(){
			nav.style.width = "0";
		}

		opene.addEventListener('click', function(){
			opennav();
		});

		closing.addEventListener('click', function(){
			closenav();
		});

		
	</script>
	
</body> 

</html>
