{% extends 'base.html' %}

{% block content %}
    
    <div class="flex justify-center">
        <form method="POST" class="mt-12">{% csrf_token %}
            <label>Email:</label><br>
            <input type="email" name="email" placeholder="e.g johndoe@example.com" required class="border border-black mt-2 p-4"><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required class="border border-black mt-2 p-4"><br><br>

            {% for field in login_form %}
                <p>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
                            
            {% if login_form.non_field_errors %}
                <div style="color: red">
                    <p>{{login_form.non_field_errors}}</p>
                </div>
            {% endif %}
            <br>

            <button type="submit" class="border-2 border-cyan-600 px-8 py-1 text-lg hover:bg-cyan-600 hover:text-white">Login</button>
        </form>
    </div>
{% endblock %}