{% extends 'base.html' %}

{% block content %}
    <p>login page</p>
    <form method="POST">{% csrf_token %}
        <label>Email:</label><br>
        <input type="email" name="email" placeholder="e.g johndoe@example.com" required><br><br>
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        {% for field in login_form %}
			<p>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
			</p>
		{% endfor %}
						
		{% if login_form.non_field_errors %}
			<div style="color: red">
				<p>{{login_form.non_field_errors}}</p>
			</div>
		{% endif %}
		<br>

        <button type="submit">Login</button>
    </form>
{% endblock %}